* {
  background-color: rgb(223, 212, 199);
  margin-top: 10px;
}
body {
  margin: 0;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
  font-family: "Gill Sans", Calibri;
  color: rgb(202, 100, 31);
  margin: 5px;
}
img {
  height: 200px;
  border-radius: 50%;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto 230px;
  font-weight: 600;
  gap: 30px;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}
.grid-item {
  font-size: 2.5rem;
}

a:link {
  text-decoration: none;
}

.center-piece {
  text-align: center;
  margin-top: 50px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(139, 117, 117);
  color: white;
  text-align: center;
  padding: 30px;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Gill Sans", Calibri;
  top: px;
}

@media screen and (max-width: 826px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    font-weight: 600;
    gap: 25px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
  }
  .grid-item {
    font-size: 2rem;
  }
  h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 684px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    font-weight: 400;
    gap: 20px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
  }
  .grid-item {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}
