* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Styling the header and navigation bar */
header {
  background-color: #071952;
  color: #fff;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.3rem;
}

/* Styling the main content area */
main {
  padding: 20px;
}

/* Styling the footer */
footer {
  background-color: #35a29f;
  color: #fff;
  text-align: center;
  padding: 25px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 1.3rem;
}

footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

footer li {
  margin: 0 15px;
}

footer a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/*Main Section Animination*/

/* Styling for the typewriter animation */
.typewriter {
  text-align: center; 
  font-size: 3rem;
  font-weight: bold;
  color: #830606;
  position: absolute; /* Position the text */
  top: 50%; /* Move text vertically to the center */
  left: 50%; /* Move text horizontally to the center */
  transform: translate(-50%, -50%); /* Center text perfectly */

  overflow: hidden;
  white-space: wrap;
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

/* Media query for responsive design */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}

/* Media query for responsive design */
@media (max-width: 768px) {
  footer {
    position: fixed;
  }
}
