* {
  background-color: rgb(235, 207, 172);
}
body {
  margin: 0;
  font-family: "Gill Sans", Calibri;
}

div a {
  background-color: rgb(160, 133, 182);
  margin: 0px;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: rgb(255, 0, 13);
}

img {
  height: 50px;
  margin: 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  gap: 25px;

  justify-items: center;
  justify-content: center;
  align-items: center;
  grid-auto-flow: row;

  font-size: 1.5rem;
  font-weight: bold;
  padding: 25px;
}

.grid-main {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  justify-items: center;
  align-items: center;

  font-size: 1.4rem;
}

.grid-footer {
  display: flex;
  justify-content: center;

  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: red;
  height: 2rem;
}
.grid-footer a {
  background-color: red;
}

.grid-header {
  background-color: rgb(160, 133, 182);
  height: 2rem;
}
